/* COLORS */

/* Path: public\assets\css\colors.css */

.bg-1 {
  background-color: #000000;
}
.bg-2 {
  background-color: #d0cdc2;
}
.bg-3 {
  background-color: #a9b19d;
}
.bg-4 {
  background-color: #735e5d;
}
.bg-5 {
  background-color: #b34b4b;
}
