/* NORMALIZE */

/* Path: public/assets/css/normalize.css */

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


