/* MAIN A EMPORTER ASSETS */

.card_ {
  scroll-snap-align: center;
  scroll-behavior: smooth;
  flex: 0 0 100%;
  padding: 10px 10px;
  margin-bottom: 10px;
  overflow: hidden;
  height: auto;
  cursor: pointer;
  background-color: var(--bg-2);
  border-radius: 10px;
  /* box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%); */
}
.card__header {
  margin: 3px;
}
.card__img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  object-fit: cover;
}

.card__title > h4 {
  font-size: 1.2em;
  text-align: start;
  padding: 5px;
  margin-top: 5px;
}

.card__body_text {
  padding: 2px;
  margin: 5px 10px;
  font-size: 0.7rem;
  max-height: 50px;
  min-height: 50px;
  overflow: hidden;
}
.card__body_price {
  text-align: end;
  padding-top: 10px;
  font-size: 1.2em;
}

.card svg {
  transition: 0.2s;
}

.card:hover .card__arrow {
  background: #111;
}

.card:hover .card__arrow svg {
  transform: translateX(3px);
}

@media (min-width: 375px) {
  .card_ {
    flex: 0 0 368px;
  }
}

@media (min-width: 576px) {
  .card_ {
    max-width: 200px;
  }
}
