/* HERO CSS FILE */

div.hero{
  margin-bottom: -5%;
}

img.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/* Styles de l'encart du menu */
.menu-encart-cadre {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 2% 5% 2% 5%;
  border: 2px solid #d0cdc2;
  background-color: white;
  overflow: hidden; 
  width: fit-content;
}

/* Style du texte dans l'encart */
.menu-encart-texte {
  font-size: calc(
    2vw + 50%
  );
  text-align: center;
  white-space: nowrap; 
  text-overflow: ellipsis;
}
